@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* common section */
*{
    font-family: "Fira Sans", serif;
    box-sizing: border-box;
}
button:hover{
background-color: red;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 24px 140px 24px 140px;
    align-items: center;
}
.para{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}
.headline{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
}




/* nav bar */
#nav-p{
    font-size: 32px;
    font-weight: 700;
}
.nav-button{
    color:#006A50;
    width: 116px;
    height: 52px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
}




/* header */
header{
    width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}
.header-para{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}
.header-img{
    width: 474.03px;
    height: 400px;
}
.header-button{
    width: 270px;
    height: 56px;
    gap: 48;
    padding: 17px 34px 17px 34px;
    margin: 24px 0px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}
.header-header{
    width: 622px;
    height: 201px;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
}



/* section 1 */
.section1{
    width: 1280px;
    margin: auto;
    text-align:left;
    padding: 50px 0px;

}
.pillers-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.piller-container{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}




/* section 2 */
.section2{
    width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.section2-containers{
    width: 1280px;
    height: 325px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 0px;
    margin: 32px 0px;
}
.section2-divs1{
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 24px;
}
.section2-divs1-button{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    gap: 48px;
    padding: 11px 20px 11px 20px;
    margin: 10px 0px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
.section2-divs2{
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 24px;
}
.section2-divs2-button{
    border-radius: 8px;
    background: rgb(9, 161, 92);
    gap: 48px;
    padding: 11px 20px 11px 20px;
    margin: 10px 0px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
.section2-divs3{
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 24px;
}
.section2-divs3-button{
    border-radius: 8px;
    background: rgb(255, 194, 57);
    gap: 48px;
    padding: 11px 20px 11px 20px;
    margin: 10px 0px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}




/* section 3 */
.section3{
display: flex;
justify-content: center;
align-items: center;
}
.quote-section{
    width: 1280px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 48px 24px 48px 24px;
    margin: 0px 24px;
}
.quote-icon{
position: absolute;
}



/* Opinion Section/forum*/
.opinion-form{
width: 1280px;
/* height: 48px; */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 0px;
margin: auto;
}
.opinion-table{
width: 1280px;
/* height: 409px; */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 32px;
align-self: stretch;
flex-grow: 0;
margin: auto;
border-radius: 16px;
}
.thead{
    width: 1216px;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24;
    padding: 24px;
    margin: -1px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    color: rgb(14, 14, 14);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}
.trow{
    width: 1216px;
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    gap: 24;
    padding: 24px;
    margin: -1px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    color: rgb(14, 14, 14);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
.option-data{
width: 200px;
/* height: 92px; */
display: flex;
flex-direction: column;
align-items: stretch;
gap: 24;
padding: 24px;
margin: 0px -25px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgba(255, 255, 255, 0.1);
}
.select-option{
    align-items: center;
    color: rgb(14, 14, 14);
    font-size: 16px;
    font-weight: 500;
    text-align:center;
    background-color: rgb(198, 228, 214);
    padding: 10px 14px 10px 14px;
    border-radius: 5px;
}




/* recent news section */
.recent-news{
    width: 1280px;
    /* height: 1406px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32;
    padding: 0px;
    margin: auto;
}
.time-date{
    display: flex;
    color: rgba(14, 14, 14, 0.7);
    padding: 10px 0 0 0;
    gap: 30px;
}
.read-more-button{
    width: 139px;
    height: 48px;
    gap: 48;
    padding: 13px 26px 13px 26px;
    margin: auto;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}
.news-section1{
    width: 1280px;
    height: 402px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    gap: 32;
    padding: 48px;
    margin: 24px 0px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
}

.news-sec-img{
    width: 408px;
    height: 306px;
    margin: 0px 32px 0 0;
    border-radius: 24px;
}
.news-sec2-img{
    width: 408px;
    height: 306px;
    margin: 0px 0 32px 0;
    border-radius: 24px;
}
.section1-news-cotainers{
    width: 744px;
    /* height: 210px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12;
    padding: 0px;
    align-self: stretch;
    margin: 32px 0px;
}

.news-section2{
    width: 1280px;
    /* height: 402px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32;
    padding: 48px 48px 48px 4px;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    flex-direction: row-reverse;
}
.section2-news-cotainers{
width: 780px;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12;
    padding: 0px;
    align-self: stretch;
    margin: 32px 0px;
}


/* Donate section */
.donate-today{
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin: 80px auto;
    padding: 40px;
    text-align: center;
}
.donate-amount{
    display: flex;
    flex-direction: row;
}
.donate-button{
    width: 240px;
    height: 128px;
    /* gap: 24; */
    padding: 40px;
    margin: 0px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-wrap-mode: nowrap;
    justify-content: center;
}
.input-amount-container{
width: 1032px;
height: 64px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 24;
padding: 20px 40px 20px 40px;
margin: 32px 0px;
box-sizing: border-box;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
}
.input-amount{
    color: rgba(14, 14, 14, 0.3);
    width: 187px;
    height: 24px;
    padding: 0px;
    margin: 12px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    border: none;

}
.donate-submit-button{
    width: 151px;
    height: 56px;
    gap: 48;
    padding: 17px 34px 17px 34px;
    margin: 32px 0px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}




/* footer-subscribe section */
.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 1280px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    gap: 64;
padding: 80px 100px 80px 100px;
margin: 80px auto;
}
.input-class{
    border: rgb(255, 255, 255);
    width: 600px;
    height: 55px;
    gap: 24;
    padding: 18px 40px 18px 40px;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
}
.sub-button{
    border: none;
width: 150px;
height: 56px;
gap: 48;
padding: 13px 34px 17px 34px;
border-radius: 0px 8px 8px 0px;
background: rgb(0, 106, 80);
color: white;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
}




/* footer-link section */
#link-header{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
.links{
    display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
padding: 0px;
}
.s-icon{
    padding: 10px;
}